* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #FF5E13;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #FF5E13;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: black;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

  /* Count down css*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2C4A64;
}
.main{
  height: 100vh;
  background-size: cover;
 
}

h1{
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  padding-top: 30px;
  text-transform: uppercase;
}

.countdown{
  display: flex;
  justify-content: center;
  gap: 20px;
}


  
.countdown > div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.25);
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.number {
  font-weight: 500;
  font-size: 44px;
  color: #CAA78C;
}

div span:last-of-type{
  font-size: 12px;
}

@media screen and (max-width:600px){
  h1{
    font-size: 2rem;
  }
  
  .countdown{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }
  .countdown > div{
    background-color: #fff;
    width: 250px;
    height: 60px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  div span:last-of-type{
  font-size: 24px;
    text-transform: uppercase;
}
  .number {
  font-size: 34px;
}
 
}

/*welcome page*/
.welcome-section {
    text-align: center;
    padding: 100px;
    background-color: #f9f9f9;
}

.welcome-section img {
    max-width: 100%;
    height: 500px;
    border-radius: 8px;
}

.welcome-section .logo {
    width: 100px; 
    height: auto;
    margin-bottom: 20px; 
}

.welcome-section button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color:#FF5E13;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcome-section button:hover {
    background-color: #0056b3;
}

/* Animation for h1 */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.welcome-section h1 {
    animation: fadeInScale 2s ease-out;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .welcome-section {
        padding: 10px;
    }

    .welcome-section img {
        width: 100%;
        height: auto;
    }

    .welcome-section button {
        width: 100%;
        padding: 12px;
        font-size: 18px;
    }

    .welcome-section .logo {
        width: 80px; /* Adjust logo size for smaller screens */
    }
    .welcome-section h1{
      font-size: medium;
    }
}

h1{
  color: #FF5E13;
  font-family: cursive;
}

.welcome-section .years-gif{
  height: 30px;
  width: 100%;
}

@media (max-width: 600px) {
  .welcome-section {
      padding-top: 100px; 
      padding-left: 10px;
      padding-right: 10px;
  }
}

/* Lineup Section Styling */
.lineup-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}



.lineup-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.lineup-section p {
  font-size:large;
  color: #2C4A64;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .lineup-section {
      padding: 30px 10px;
  }

  .lineup-section h1 {
      font-size: 2rem;
  }

  .lineup-section p {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .lineup-section h1 {
      font-size: 1.8rem;
  }

  .lineup-section p {
      font-size: 0.9rem;
  }
}

/* About Section Styling */
.about-section {
  text-align: center;
  padding: 50px 20px;
  
}

.about-section h1 {
  font-size: 2.5rem;
  color: #FF5E13;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.about-section p {
  font-size: 1.1rem;
  color: #2C4A64;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.about-section video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .about-section {
      padding: 30px 10px;
  }

  

  .about-section p {
      font-size: large;
  }
}

@media (max-width: 480px) {
  .about-section h1 {
    font-size: 2rem;
  }

  .about-section p {
      font-size: 0.9rem;
  }
}


/* Gallery Slider Styling */
.gallery-slider {
  text-align: center;
  padding: 50px 20px;
  
}

.gallery-slider h1 {
  font-size: 2.5rem;
  color: #FF5E13;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: 500px;
  display: block;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .gallery-slider h1 {
      font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .gallery-slider h1 {
      font-size: 1.8rem;
  }
}

.footer {
  background-color: #FF5E13;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0 15px;
  color: white;
  font-size: 25px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #1da1f2; /* Change to any color you like on hover */
}

.social-icons {
  
  padding: 20px;
  text-align: center;
}

.social-icons a {
  border: 1px solid #FF5E13;
  background-color: #FF5E13;
  margin: 0 15px;
  padding: 10px;
  border-radius: 50%;
  color: #FF5E13;
  font-size: 40px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #FF5E13; /* Lighter pink color on hover */
}

h2{
  color: #FF5E13;
  padding: 10px;
  font-weight: 600;
}


